@import "./normalize.css";

@font-face {
  font-family: 'iconfont';  /* project id 1716338 */
  src: url('//at.alicdn.com/t/font_1716338_5u5i65skmt8.eot');
  src: url('//at.alicdn.com/t/font_1716338_5u5i65skmt8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1716338_5u5i65skmt8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1716338_5u5i65skmt8.woff') format('woff'),
  url('//at.alicdn.com/t/font_1716338_5u5i65skmt8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1716338_5u5i65skmt8.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}